test.py
model.bin
model.bin.trainables.syn1neg.npy
model.bin.wv.vectors.npy
model.bin.trainables.vectors_vocab_lockf.npy
model.bin.trainables.vectors_ngrams_lockf.npy
model.bin.wv.vectors_ngrams.npy
model.bin.wv.vectors_vocab.npy
